/* custom-slider.css */

/* Override arrow styles */
.slick-prev:before,
.slick-next:before {
  color: #033a66; /* Change arrow color */
  font-size: 25px;

  }

/* Add margin between slides */
.slick-slide {
  margin-left: 0px ;
  display: flex;
  justify-content: space-between;
  gap:10px;
   /* Adjust margin as needed */
 
}

/* Center the arrow vertically */
.slick-prev,
.slick-next {
  z-index: 1;
}
